service: trendly-brands
frameworkVersion: '3'

provider:
  name: aws
  architecture: arm64
  runtime: provided.al2
  stage: ${opt:stage, 'dev'}

custom:
  domains:
    dev:
      - dev.brands.trendly.now
    prod:
      - brands.trendly.now

plugins:
  # - serverless-domain-manager
  # - serverless-certificate-creator
  - serverless-lift

constructs:
  trendlyBrands:
    type: single-page-app
    path: dist
    domain: ${self:custom.domains.${sls:stage}}
    # redirectToMainDomain: true
    certificate: arn:aws:acm:us-east-1:730335628944:certificate/a9492504-8dff-4ad4-a672-926102597dd0

# Create certificate from AWS dashboard
# custom:
#   customCertificate:
#     certificateName: 'app.crowdy.chat'
#     # idempotencyToken: 'abcsomedomainio' //optional
#     # hostedZoneNames: 'trendshub.co.in'
#     hostedZoneIds: Z08929472ONQ8YE8XDCVA
#     # region: eu-west-1 // optional - default is us-east-1 which is required for custom api gateway domains of Type Edge (default)
#     enabled: true
#     rewriteRecords: false
#   customDomain:
#     domainName: app.crowdy.chat
#     basePath: ''
#     stage: dev
#     certificateName: 'app.crowdy.chat'
#     createRoute53Record: true
#     createRoute53IPv6Record: true
#     endpointType: 'regional'
#     securityPolicy: tls_1_2



resources:
  Conditions:
    IsDev:
      Fn::Equals: ["${sls:stage}", "dev"]
    IsProd:
      Fn::Equals: ["${sls:stage}", "prod"]

  Resources:
    Route53DevRecord:
      Condition: IsDev
      Type: AWS::Route53::RecordSet
      Properties:
        HostedZoneId: Z02250033690XMWB8LXL7 # Your HostedZoneId
        Name: dev.brands.trendly.now
        Type: A
        AliasTarget:
          HostedZoneId: Z2FDTNDATAQYW2 # Cloudfront Route53 HostedZoneId. This does not change.
          DNSName: ${construct:trendlyBrands.cname}

    Route53ProdRecord:
      Condition: IsProd
      Type: AWS::Route53::RecordSet
      Properties:
        HostedZoneId: Z02250033690XMWB8LXL7 # Your HostedZoneId
        Name: brands.trendly.now
        Type: A
        AliasTarget:
          HostedZoneId: Z2FDTNDATAQYW2 # Cloudfront Route53 HostedZoneId. This does not change.
          DNSName: ${construct:trendlyBrands.cname}